@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;600;700&family=Roboto+Slab:wght@100;200;300;400;500;600;800;900&display=swap');


* {
    margin: 0;
    box-sizing: border-box;
}

body {
    background-image: url(bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    font-family: 'Quicksand', sans-serif; 
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    color: white;
    /* position: relative; */
}

#heading {
    background: linear-gradient(90deg , rgba(255, 255, 255, 0) , rgba(7, 7, 7, 0.546) , rgba(255, 255, 255, 0));
    font-size: 65px;
    /* position: absolute;
    top: 20px; */
    width: 100%;
    text-align: center;
    margin-bottom: 20px;
}

.container {
    min-width: 30%;
    min-height: 10%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.603);
    box-shadow: 0px 0px 20px rgb(0, 0, 0);
    font-size: 30px;
    padding: 20px;
}

.image img  {
    width: 20rem;
    height: 20rem;
    margin: 10px;
    border: 2px solid black;
    box-shadow: 2px 2px 10px black;
}
.image {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
.image #name {
    text-align: center;
}

#btn {
    width: 7rem;
    height: 2rem;
    margin: 10px;
    border: 3px solid rgba(255, 255, 255, 0.233);
    background-color: transparent;
    border-radius: 4px;
    color: white;
    font-size: 20px;
    transition: 100ms all ease-in-out;
}
#btn:hover {
    background-color: rgba(255, 255, 255, 0.523);
    color: black;
}

.image {
    display: none;
}