body{
      margin: 0;
      padding: 0;
      box-sizing: border-box;
      display: flex;
      justify-content: center;
      align-items: center;
      height: 100vh;
      background-image: url("bg.jpg");
      background-repeat: no-repeat;
      background-size:cover;
      background-position: center;
}



.main{
      width: 90%;
      height: 50%;
      background-color: rgba(0, 0, 0, 0.482);
      box-shadow: 5px 5px 20px rgb(0, 0, 0);
      border-radius: 10px;
      display: flex;
      justify-content: space-evenly;
      align-items: center;
      flex-direction: column;
      color: white;
      font-family: 'Times New Roman', Times, serif;
      font-size: 25px;
      padding: 10px;
      transition: 200ms;
      
}

.main:active{
      box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.352);
}
.main:hover{
      box-shadow: 0px 10px 40px rgba(255, 255, 255, 0.352);
}
strong{
      text-align: center;
      font-size: 20px;
      
}

#wish{
      font-size: 38px;
}
#name{
      font-size: 38px;
}




